.item::before {
    position: absolute;
    left: 8px;
    content: counter(my-counter); 
    counter-increment: my-counter;
    font-family: "Comfortaa";
    font-size: 50px;
    font-weight: 400;
    color: #ff8a00;
    line-height: 1.25;
}

.item__text:not(:last-child) {
    margin-bottom: 30px;
}

.item__text_bold {
    font-weight: 500;
}

.item__title {
    /* font-size: 30px;
    font-weight: 400; */
    color: #282626;
    line-height: 2;
    margin-bottom: 30px;
}

.item__title_second {
    margin-bottom: 80px;
}